@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color:rgba(247, 245, 235, 0.568);
}

header {
    /* background-color: cornflowerblue; */
    background-image: url("./images/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: cornsilk;
    text-shadow: 0 0 4px black, 0 0 2px white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

header h1 {
    font-size: 48px;
    font-weight: bold;
    padding-right: 10px;
}

header a {
    text-decoration: none;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    padding:0;
    margin:0;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 1em;
    list-style-type: none;
}


header nav ul li a {
    font-size: 22px;
    color: cornsilk;
    text-shadow: 0 0 4px black, 0 0 2px white;
}

header nav ul li a:hover {
    border-bottom: 2px cornflowerblue solid;
    border-top: 2px cornflowerblue solid;
}

.section {
    display: flex;
    flex-wrap:wrap;
    gap: 2em;
}

.section-title {
    color: cornflowerblue;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-right: 6px grey solid;
    flex: 0 0 180px;
    font-size: 36px;
    text-align: right;
    padding-right: 10px;
}

.section-cta {
    margin: 20px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex: 4;
    justify-content: center;
    gap: 1em;
}

.card img {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.card {
    padding: 10px;
    margin: 10px;
    flex: 1 0 400px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.card:nth-child(1) {
    width: 75%;
}

footer {
    background-color:cornflowerblue;
    color: cornsilk;
    padding: 10px;
    text-shadow: 0 0 4px black, 0 0 2px white;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.5);
}