@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color:rgba(247, 245, 235, 0.568);
}

header {
    /* background-color: cornflowerblue; */
    background-image: url("./images/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: cornsilk;
    text-shadow: 0 0 4px black, 0 0 2px white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

header h1 {
    font-size: 48px;
    font-weight: bold;
    padding-right: 10px;
}

header a {
    text-decoration: none;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    padding:0;
    margin:0;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 1em;
    list-style-type: none;
}


header nav ul li a {
    font-size: 22px;
    color: cornsilk;
    text-shadow: 0 0 4px black, 0 0 2px white;
}

header nav ul li a:hover {
    border-bottom: 2px cornflowerblue solid;
    border-top: 2px cornflowerblue solid;
}

.section {
    display: flex;
    flex-wrap:wrap;
    gap: 2em;
}

.section-title {
    color: cornflowerblue;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-right: 6px grey solid;
    display: flex;
    flex: 1 1 20%;
    font-size: 36px;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
}

.section-cta {
    margin: 20px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex: 2 1 70%;
    gap: 1em;
}

.card img {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); 
    width: 100%;
}

.card {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.card h3 {
    position:absolute;
    bottom: 8px;
    left: 16px;
}

.hero {
    flex: 1 1 70%;
}

.contacts {
    margin: 10px;
    background-color: cornflowerblue;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.contacts a {
    text-decoration: none;
    color: cornsilk;
    border-radius: 5px;
    border: 2px solid cornsilk;
    padding: 5px;
    margin: 10px;
    width: 40%;
    text-align: center;
}

.contacts a:hover {
    background-color: cornsilk;
    color: cornflowerblue;
}

footer {
    background-color:cornflowerblue;
    color: cornsilk;
    padding: 10px;
    text-shadow: 0 0 4px black, 0 0 2px white;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 575px) {
    .section-title {
        border-right: 0;
        justify-content: center;
        border-bottom: 6px solid grey;
    }

    .section-cta {
        justify-content: center;
    }

    .card { 
        flex: 0 1 60%;
        align-content: center;
    }

    .hero {
        flex: 0 1 75%;
    }

    .contacts a {
        width: 60%;
    }
}